<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="referrer" content="never">

  <!-- Title and icon -->
  <title>USC1024 - Recipe Search</title>
  <link rel="shortcut icon" href="img/small_logo.png" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <style media="screen">
    [v-cloak] {
      display: none;
    }
  </style>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="css/landing-page.css" rel="stylesheet">
</head>

<body>
  <div id="index_vue">
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="index.html"><img height="40" src="img/title.png" class="d-inline-block align-top" alt=""></a>
        <a class="btn btn-danger usc-nav-button" :href="itemUrl()">Item List</a>
      </a>
    </nav>

    <!-- Search -->
    <header class="masthead text-white text-center">
      <div class="overlay under"></div>
      <div class="container ">
        <br />
        <div class="row justify-content-center upper">
          <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
            <form class="card card-sm" @submit.prevent="handleSubmit">
              <div class="card-body row no-gutters align-items-start usc-search-card-body">
                <div class="col-auto">
                  <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                  <div clas = "usc-search-input">
                    <input class="form-control form-control-borderless" v-model="name" placeholder="please enter recipe name..." @keyup.down="calMatchListIndex(1)" @keyup.up="calMatchListIndex(-1)" @click="resetMatchList" @blur="clearMatchList" />
                  </div>
                  <div v-cloak class="usc-search-list" >
                    <div v-for="(item, index) in matchList">
                      <p  :class="{'item-selected': isSelected(index)}" @mouseenter="setMatchListIndex(index)" style="color:#000;">
                        {{item}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-auto align-items-start">
                  <button class="btn btn-lg btn-danger" type="submit">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Recipes Grid -->
    <section class="features-icons bg-light text-left">
      <div class="container">
        <div v-cloak class="card-columns">
          <div v-for="recipe in recipes" class="card">
            <span v-on:click="click_url(recipe.title)"><a :href="url(recipe.recipe_id)"><img v-bind:src="getImageUrl(recipe)" width="100%" style="border-radius: 15px;"></img></a>
              <div style="padding:0% 5% 0% 5%">
                <div style="padding-top:2%" class="card-block">
                  <h4 class="card-title"><span v-on:click="url(recipe.recipe_id)"><a :href="url(recipe.recipe_id)" style="color: black;">{{getTitle(recipe)}}</a></span></h4>
                  <div>
                    <span v-if="getSocialRank(recipe) == 100">
                      <five-star></five-star>
                      <button v-if="!islike(recipe.title)" class="btn btn-like btn-danger" v-on:click="like(recipe.title)" style="border-color: #de2e1c;"><i class="fa fa-heart" aria-hidden="true"></i>Like</button>
                      <button v-else class="btn btn-like btn-danger" v-on:click="unlike(recipe.title)" style="background-color: white; border-color: #de2e1c;">
                        <font color="#de2e1c"><i class="fa fa-heart" aria-hidden="true" color="#de2e1c"></i>Unlike</font>
                      </button>
                    </span>
                    <span v-else-if="getSocialRank(recipe) >95 && getSocialRank(recipe) < 100">
                      <fourhalf-star></fourhalf-star>
                      <button v-if="!islike(recipe.title)" class="btn btn-like btn-danger" v-on:click="like(recipe.title)" style="border-color: #de2e1c;"><i class="fa fa-heart" aria-hidden="true"></i>Like</button>
                      <button v-else class="btn btn-like btn-danger" v-on:click="unlike(recipe.title)" style="background-color: white; border-color: #de2e1c;">
                        <font color="#de2e1c"><i class="fa fa-heart" aria-hidden="true" color="#de2e1c"></i>Unlike</font>
                      </button>
                    </span>
                    <span v-else-if="getSocialRank(recipe) >90 && getSocialRank(recipe) < 95">
                      <four-star></four-star>
                      <button v-if="!islike(recipe.title)" class="btn btn-like btn-danger" v-on:click="like(recipe.title)" style="border-color: #de2e1c;"><i class="fa fa-heart" aria-hidden="true"></i>Like</button>
                      <button v-else class="btn btn-like btn-danger" v-on:click="unlike(recipe.title)" style="background-color: white; border-color: #de2e1c;">
                        <font color="#de2e1c"><i class="fa fa-heart" aria-hidden="true" color="#de2e1c"></i>Unlike</font>
                      </button>
                    </span>
                    <span v-else-if="getSocialRank(recipe) >85 && getSocialRank(recipe) < 90">
                      <threehalf-star></threehalf-star>
                      <button v-if="!islike(recipe.title)" class="btn btn-like btn-danger" v-on:click="like(recipe.title)" style="border-color: #de2e1c;"><i class="fa fa-heart" aria-hidden="true"></i>Like</button>
                      <button v-else class="btn btn-like btn-danger" v-on:click="unlike(recipe.title)" style="background-color: white; border-color: #de2e1c;">
                        <font color="#de2e1c"><i class="fa fa-heart" aria-hidden="true" color="#de2e1c"></i>Unlike</font>
                      </button>
                    </span>
                    <span v-else-if="getSocialRank(recipe) >80 && getSocialRank(recipe) < 85">
                      <three-star></three-star>
                      <button v-if="!islike(recipe.title)" class="btn btn-like btn-danger" v-on:click="like(recipe.title)" style="background-color: #de2e1c; border-color: #de2e1c;"><i class="fa fa-heart" aria-hidden="true"></i>Like</button>
                      <button v-else class="btn btn-like btn-danger" v-on:click="unlike(recipe.title)" style="background-color: white; border-color: #de2e1c;">
                        <font color="#de2e1c"><i class="fa fa-heart" aria-hidden="true" color="#de2e1c"></i>Unlike</font>
                      </button>
                    </span>
                    <span v-else-if="getSocialRank(recipe) >75 && getSocialRank(recipe) < 80">
                      <twohalf-star></twohalf-star>
                      <button v-if="!islike(recipe.title)" class="btn btn-like btn-danger" v-on:click="like(recipe.title)" style="border-color: #de2e1c;"><i class="fa fa-heart" aria-hidden="true"></i>Like</button>
                      <button v-else class="btn btn-like btn-danger" v-on:click="unlike(recipe.title)" style="background-color: white; border-color: #de2e1c;">
                        <font color="#de2e1c"><i class="fa fa-heart" aria-hidden="true" color="#de2e1c"></i>Unlike</font>
                      </button>
                    </span>
                    <span v-else>
                      <two-star></two-star>
                      <button v-if="!islike(recipe.title)" class="btn btn-like btn-danger" v-on:click="like(recipe.title)" style="border-color: #de2e1c;"><i class="fa fa-heart" aria-hidden="true"></i>Like</button>
                      <button v-else class="btn btn-like btn-danger" v-on:click="unlike(recipe.title)" style="background-color: white; border-color: #de2e1c;">
                        <font color="#de2e1c"><i class="fa fa-heart" aria-hidden="true" color="#de2e1c"></i>Unlike</font>
                      </button>
                    </span>
                  </div>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. --<cite title="Source Title">Mark James</cite></p>
                <p style="padding-bottom:2%" class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"USC1024 Recipe search is amazing. I've been using it to create lots of super nice food."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
              <h5>Sarah W.</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; USC1024 Website 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </div>

  <!-- JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/ajax.js"></script>
  <script src="js/index.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
</body>

</html>
