<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My list</title>
    <link rel="shortcut icon" href="img/small_logo.png" type="image/x-icon">
    <script src="js/vue.js"></script>
  </head>
  <body>
    <div id ="item_vue">
      <a @click="getList()">Item list</a>
      <p v-for="item in list">{{item}}</p>
      <a @click="getFavor()">Recipe list</a>
      <p v-for="item in favorList">{{item}}</p>
      <a @click="getHistory()">History list</a>
      <p v-for="item in historyList">{{item}}</p>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/itemList.js"></script>
  </body>
</html>
