<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="referrer" content="never">
  <title>Item List</title>
  <link rel="shortcut icon" href="img/small_logo.png" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="css/landing-page.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
  <div id="fb-root"></div>

  <div id="item_vue">
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="index.html"><img height="40" src="img/title.png" class="d-inline-block align-top" alt=""></a>
        <a class="btn btn-primary" href="#" style="background-color: #de2e1c; border-color: #de2e1c;">Contact Us</a>
      </a>
    </nav>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img">
            <img src="img/bg-profile.jpg" height=360px style="position: absolute; top: 120px; right: 60px;"></img>
          </div>

          <div class="col-lg-6 my-auto showcase-text">
            <h1>Jenny White</h1>
            <div><span class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="false"></span></div><br />
            <div id="accordion1">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: #c2ad81;">
                      <a id="collapseOne_arrow" @click="getList()"><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp<strong>Shopping List</strong></a>
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                  <div class="card-body">
                    <div><span align=width=50% style="color: #c2ad81;">Ingredients name x Quantity</span></div>
                    <div v-for="ingredient in ingredientList">
                      <span align=width=50%><i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        {{ingredient.name}}</span><span></span><span> x </span><span width=50%>{{ingredient.num}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="accordion2">
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" style="color: #de2e1c;">
                      <a id="collapseTwo_arrow" @click="getFavor()"><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp<strong>Recipe List</strong></a>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                  <div class="card-body">
                    <div><span align=width=50% style="color: #de2e1c;">Recipe name</span></div>
                    <div v-for="favor in favorList">
                      <span align=width=50%><i class="fa fa-coffee" aria-hidden="true"></i>{{favor.name}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="accordion3">
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <a id="collapseThree_arrow" @click="getHistory()"><i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp<strong>Your History</strong></a>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
                    <div class="card-body">
                      <div v-for="item in historyList">
                        <span v-if="item.type == 'like'"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                        <span v-else-if="item.type == 'cancel'"><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                        <span v-else-if="item.type == 'save'"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                        <span v-else><i class="fa fa-search" aria-hidden="true"></i></span>
                        <span style="color:#007bff;">{{item.time}}: </span>
                        <span v-if="item.type != 'none'">{{item.type}} {{item.content}}</span>
                        <span v-else="item.type != 'none'">{{item.content}}</span>
                      </li>
                    </div>
                  </div>
                </div>
              </div><br />
              <div class="btn-group">
                <button class="btn btn-success" href="#">
                  <font color="white"><i class="fa fa-check" aria-hidden="true"></i>Checkout</font>
                </button>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#" style="color: #de2e1c;">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" style="color: #de2e1c;">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" style="color: #de2e1c;">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" style="color: #de2e1c;">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; USC1024 Website 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw" style="color: #de2e1c;"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw" style="color: #de2e1c;"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw" style="color: #de2e1c;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/vue.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/itemList.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</body>

</html>
